$font-size-quote: 2.8rem; // 28px

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
    url('../fonts/Manrope-ExtraBold.woff') format('woff'),
    url('../fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
    url('../fonts/Manrope-Medium.woff') format('woff'),
    url('../fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
